:root {
    --cor-primaria: #0c080d;
    --cor-fundo:  #1f1823;
    --cor-texto:#382b3f;
    --cor-contraste:#52425c;
    --cor-botao:#7a6284;
}

body {
max-width: 100vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
back-ground-color: var(--cor-primaria);
color: var(--cor-contraste);
text-align: center;
margin: 0 auto;
padding: 16px;
}

main{
background-color: var (--cor-fundo);
color: var(--cor-primaria);
margin: 16px;
gap: 16px;
padding: 16px;
flex: 1 1 25%;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}